<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'service/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'service/index.css' %}" />
</head>

<body>
    <div class="app-root">
        <header>
            <div class="">
                <div class="navbar">
                    <a href="{% url 'home' %}" class="navbar-brand">Home</a>
                    <a href="{% url 'surveys' %}" class="navbar-item">Surveys</a>
                    <span class="grow-area"></span>
                    <span class="right-aligned">{% block pagetitle %}{% endblock %}</span>
                </div>
            </div>
        </header>
        <div class="body-content">
            {% load static %}
            {% block content %}
            {% endblock %}
        </div>
        <footer>
            <div class="footer-content">
                <span><a href="https://surveyjs.io">SurveyJS</a></span> <span class="grow-area">© 2021 by <a
                        href="https://github.com/tsv2013">tsv2013</a></span> <span
                    class="right-aligned">Django+DRF</span>
            </div>
        </footer>
    </div>
</body>

</html>