    {% extends "service/layout.html" %}

{% block title %}
My Surveys
{% endblock %}

{% block content %}

<script>
    function removeSurvey(surveyId) {
        fetch('/api/surveys/' + surveyId, {
            method: 'DELETE'
        }).then(() => location.reload());
    }
</script>

<div class="survey-list">
    {% load static %}

    <!-- Home page content should go here -->
    <h2>My Surveys</h2>

    <form class="new-survey-form" method="post" action="/surveys/">
        {% csrf_token %}
        <button class="table-action">Create</button><span> a new survey called </span><input name="name" value="My First Survey"/><span> and edit it.</span>
    </form>

    {% if survey_list %}
    <table class="">
        <thead>
            <tr>
                <th width="10%">ID</th>
                <th width="200px">Name</th>
                <th width="200px">Actions</th>
                <th>JSON</th>
            </tr>
        </thead>
        <tbody>
            {% for survey in survey_list %}
            <tr>
                <td>{{ survey.id }}</td>
                <td>{{ survey.name }}</td>
                <td><a class="table-action" href="{% url 'survey' survey.id %}">Run</a><a class="table-action"
                        href="{% url 'edit' survey.id %}">Edit</a> <button class="table-action"
                        onclick="removeSurvey({{ survey.id }})">Delete</button></td>
                <td>{{ survey.json }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No surveys have been created yet.</p>
    {% endif %}
</div>

{% endblock %}